@charset "utf-8";

@font-face {
  font-family: "valencia";
  src: url("./../fonts/Valencia 400.ttf");
}

html{
  font-family: sans-serif;
  overflow: auto;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 16px;
}

.container-fluid {
  padding: 0.5% 20% 0.5%;
}

.header {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  font-weight: bold;
  color: #C5C6C7;
  background-color: #1F2833;
}

/*-- NAV MENU --*/

nav label {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 999;
}

nav label:hover {
  cursor: pointer;
}

nav label span {
  position: absolute;
  top: 19px;
  right: 4px;
  width: 40px;
  height: 5px;
  border-radius: 4px;
  display: block;
  background-color: #F6F1F1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav label span:first-child {
  top: 7px;
}

nav label span:last-child {
  top: 30px;
}

nav input {
  opacity: 0;
}

nav input:checked + label span {
  opacity: 0;
  top: 50%;
}

nav input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

nav input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

nav ul {
  background-color: #13005A;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  padding-right: 5%;
  list-style-type: none;
}

nav ul li {
  position: relative;
  transform: translateY(-425px);
  transition: transform 0.5s ease-in-out;
}

nav ul li:after {
  content: '';
  width: 72%;
  height: 4px;
  background-color: #19A7CE;
  transform-origin: center;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 14%;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover:after {
  transform: scaleX(1);
}

.lang-en {
  color: #F6F1F1;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.lang-en:focus, .lang-en:hover, .lang-pt:focus, .lang-pt:hover {
  color: #19A7CE;
  
}

.lang-pt {
  color: #F6F1F1;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.lang-sep {
  padding-top: 4px;
}

.nav-link {
  color: #F6F1F1;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-decoration: none;
  display: inline-block;
  padding: 15px 26px 10px;
}

.nav-link:active, .nav-link:focus {
  background-color: transparent;
}

.nav-link:hover {
  color: #19A7CE;
  background-color: transparent;
}

nav input:checked ~ ul {
  background-color: #13005A;
  height: 100%;
  padding: 80px 0 20px;
}

nav input:checked ~ ul li {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 992px) {
  nav label {
    display: none;
  }

  nav input {
    display: none;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul li {
    transform: translateY(0);
  }

  nav ul a {
    font-size: 1.2rem;
  }
}

/*-- HOMEPAGE SECTION --*/

.homepage {
  background-color: #F6F1F1;
  color: #19A7CE;
}

.homepage-h1 {
  display: block;
  margin: 190px 0 50px 0;
  font-family: "ubuntu";
  line-height: 1.5;
  font-size: 1.5rem;
}

.homepage-signature {
  font-family: "valencia";
  display: block;
  width: 100%;
  font-size: 7.5rem;
  text-align: center;
}

.homepage-title {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.homepage-and {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.homepage-container-flip {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.homepage-container-flip span {
  position: absolute;
  white-space: normal;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
  overflow: hidden;
  word-wrap: break-word;
  display: inline-block;
}

.homepage-container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
}

.homepage-container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
}

.homepage-container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
}

.homepage-container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
}

.homepage-container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
}

.homepage-container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
}

.homepage-container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
}

@-webkit-keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.flip {
  width: 100%;
  text-align: center;
}

.flip::after {
  content: '';
  display: inline-block;
  transform: translateX(10px);
  background-size: cover;
  width: 20px;
  height: 20px;
}

@media (min-width: 320px) {
  .homepage-signature {
    line-height: 1;
    position: relative;
    left: -10px;
  }

  .homepage-container-flip {
    width: 100%;
    height: 43px;
    overflow: visible;
  }
  .flip::after {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 650px) {
  .homepage-signature {
    line-height: 1.5;
  }

  .homepage-container-flip {
    width: 100%;
    top: 7px;
    height: 49px;
  }
}

@media (min-width: 675px) {
  .flip::after {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 859px) {
  .homepage-container-flip {
    top: 10px;
    height: 53px;
  }

  .flip::after {
    width: 37px;
    height: 37px;
  }
}

@media (min-width: 936px) {
  .homepage-container-flip {
    height: 55px;
  }

  .flip::after {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1100px) {
  .homepage-container-flip {
    height: 68px;
  }

  .flip::after {
    width: 35px;
    height: 35px;
  }
}

.flip-learner::after {
  background-image: url("./../img/learner.png");
}

.flip-heliophile::after {
  background-image: url("./../img/heliophile.png");
}

.flip-food::after {
  background-image: url("./../img/food.png");
}

.flip-world::after {
  background-image: url("./../img/world.png");
}

.flip-superhero::after {
  background-image: url("./../img/superhero.png");
}

.flip-workout::after {
  background-image: url("./../img/workout.png");
}

.flip-person::after {
  background-image: url("./../img/a-person.png");
}

.flip-music::after {
  background-image: url("./../img/music.png");
}

.flip-mindset::after {
  background-image: url("./../img/mindset.png");
}

/*-- SEPARATION DIV'S SECTION --*/

.sep1-1 {
  position: relative;
  margin-top: 190px;
}

.sep1-1:after {
  content: '';
  position: absolute;
}

.sep1-2,
.sep1-2:after {
  height: 80px;
  width: 100%;
}

.sep1-2 {
  background-color: #146C94;
}

.sep1-2:after {
  background-color: #F6F1F1;
  clip-path: polygon(100% 0%, 12% 0, 40% 65%);
}

.sep2-1 {
  position: relative;
}

.sep2-1:after {
  content: '';
  position: absolute;
}

.sep2-2,
.sep2-2:after {
  height: 80px;
  width: 100%;
}

.sep2-2 {
  background-color: #F9F7F7;
}

.sep2-2:after {
  background-color: #146C94;
  clip-path:polygon(50% 50%, 100% 0, 0 0);
}

.sep3-1 {
  position: relative;
}

.sep3-1:after {
  content: '';
  position: absolute;
}

.sep3-2,
.sep3-2:after {
  height: 80px;
  width: 100%;
}

.sep3-2 {
  background-color: #F9F7F7;
}

.sep3-2:after {
  background-color: #3F72AF;
  clip-path: polygon(50% 0%,0% 100%,100% 100%);
}

.sep4-1 {
  position: relative;
}

.sep4-1:after {
  content: '';
  position: absolute;
}

.sep4-2,
.sep4-2:after {
  height: 80px;
  width: 100%;
}

.sep4-2 {
  background-color: #1F2833;
}

.sep4-2:after {
  background-color: #3F72AF;
  clip-path: polygon(50% 0%,100% 0%,100% 100%);
}

@media (min-width: 320px) {
  .sep1-1 {
    position: relative;
    margin-top: 80px;
  }
}

@media (min-width: 520px) {
  .sep1-2,
  .sep1-2:after {
    height: 120px;
  }

  .sep2-2,
  .sep2-2:after {
    height: 120px;
  }

  .sep3-2,
  .sep3-2:after {
    height: 50px;
  }

  .sep4-2,
  .sep4-2:after {
    height: 50px;
  }
}

@media (min-width: 900px) {
  .sep1-2,
  .sep1-2:after {
    height: 160px;
  }

  .sep2-2,
  .sep2-2:after {
    height: 160px;
  }

  .sep3-2,
  .sep3-2:after {
    height: 50px;
  }

  .sep4-2,
  .sep4-2:after {
    height: 50px;
  }
}

/*-- ABOUT SECTION --*/

.about {
  background-color: #146C94;
  padding: 80px 0 50px 0;
}

.about-h2, .about-h3 {
  font-family: "Montserrat";
  padding-bottom: 25px;
}

.about-h2 {
  font-weight: 900;
  color: #13005A;
}

.about-h3 {
  color: #F6F1F1;
}

.about strong {
  color: #F6F1F1;
}

.about-resume-h3 {
  color: #F6F1F1;
  padding-top: 40px;
}

.about-resume-a {
  color: inherit;
  transition: color 300ms ease-in-out;
  text-decoration: underline;
  cursor: pointer;
}

.about-resume-a:hover, .about-resume-a:hover strong {
  transition: color 300ms ease-out;
  color: #13005A;
}

.about-h5 {
  font-family: "Calibri";
  font-size: 1.2rem;
  text-align: left;
  color: #F6F1F1;
  line-height: 1.5;
}

.about-contacts-div-icons {
  display: flex;
  position: absolute;
  top: 1100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 80px;
}

.about-contacts-ul {
  list-style-type: none;
}

.fa-brands.fa-linkedin, .fa-github, .fa-solid.fa-at {
  color: #F6F1F1;
  font-size: 4em;
  padding-bottom: 50px;
  transition: color 300ms ease-in-out;
}

.fa-brands.fa-linkedin:hover, .fa-github:hover, .fa-solid.fa-at:hover {
  transition: color 300ms ease-out;
  color: #13005A;
}

@media (min-width: 320px) {
  .about-contacts-div-icons {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    top: 1115px;
    width: 12%;
    height: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .about-h3, .about-h2, .about-cv {
    text-align: center;
  }

  .fa-brands.fa-linkedin, .fa-github .fa-solid.fa-at {
    display: flex;
    font-size: 4em;
    padding-bottom: 50px;
    justify-content: center;
  }
}

@media (min-width: 375px) {
  .about-contacts-div-icons {
    top: 1105px;
  }
}

@media (min-width: 500px) {
  .about {
    text-align: center;
    padding-left: 40px;
  }

  .about-contacts-div-icons {
    padding-left: 30px;
    top: 1110px;
  }

  .fa-brands.fa-linkedin, .fa-github, .fa-solid.fa-at {
    font-size: 3em;
    padding-bottom: 50px;
  }
}

@media (min-width: 520px) {
  .about-contacts-div-icons {
    top: 1150px;
  }
}

@media (min-width: 640px) {
  .about-contacts-div-icons {
    padding-left: 40px;
    top: 1150px;
  }
}

@media (min-width: 649px) {
  .about-contacts-div-icons {
    top: 1030px;
  }
}

@media (min-width: 650px) {
  .about-contacts-div-icons {
    top: 1100px;
  }
}

@media (min-width: 658px) {
  .about-contacts-div-icons {
    top: 1040px;
  }
}

@media (min-width: 900px) {
  .about-contacts-div-icons {
    padding-left: 50px;
    top: 1100px;
  }
}

@media (min-width: 990px) {
  .about-contacts-div-icons {
    top: 1100px;
  }
}

@media (min-width: 992px) {
  .about-contacts-div-icons {
    top: 1070px;
  }

  .fa-brands.fa-linkedin, .fa-github, .fa-solid.fa-at {
    font-size: 4em;
  }

  .about-h3, .about-h2, .about-cv {
    text-align: left;
  }
}

@media (min-width: 1100px) {
  .about-contacts-div-icons {
    top: 1090px;
  }
}

@media (min-width: 1248px) {
  .fa-brands.fa-linkedin, .fa-github, .fa-solid.fa-at {
    padding: 0, 0, 15px, 0;
  }
}

/*-- SKILLS SECTION --*/

.skills {
  background-color: #F9F7F7;
  padding: 80px 0 50px 0;
}

.skills h2, h3 {
  font-family: "Montserrat";
}

.skills h2 {
  font-weight: 900;
  color: #112D4E;
  padding: 25px 0 40px 0;
}

.skills h3 {
  color: #19A7CE;
}

.skills-p {
  color: #112D4E;
}

.container-tools {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-tools .box-tool {
  width: 50%;
  height: 142px;
  margin-bottom: 10px;
}

.icp, .web3 {
  margin: 0 auto;
  height: 5rem;
}

.container-tools .devicon, .fa-brands {
  color: #3F72AF;
  font-size: 5rem;
}

@media (min-width: 320px) {
  .skills-h2, .skills-h3 {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .container-tools .box-tool {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .skills-h2, .skills-h3 {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .container-tools .box-tool {
    width: 12.5%;
  }
}

/*-- PROJECTS SECTION --*/

.projects {
  background-color: #3F72AF;
  padding: 20px 0 50px 0;
}

.projects-container-fluid {
    width: 100%;
    text-align: left;
}

.projects-h2, .projects-h3, .projects-h4 {
  font-family: "Montserrat";
}

.project2-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 107%;
  object-fit: fill;
  transform: translate(-50%, -50%);
}

.project3-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 128%;
  object-fit: fill;
  transform: translate(-50%, -50%);
}

.project4-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 101%;
  object-fit: fill;
  transform: translate(-50%, -50%);
}

.project5-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 100%;
  object-fit: fill;
  transform: translate(-50%, -50%);
}

.projects-h3 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #F6F1F1;
  text-align: center;
}

.projects-h2 {
  font-weight: 900;
  color: #13005A;
  padding-bottom: 20px;
  text-align: center;
}

.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 380px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  background-size: 100% 100%;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #F6F1F1;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;;
}

.game-section .item-desc h3 {
    font-weight: 600;
}

.game-section .item.active .item-desc {
  transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
  }
}

.projects .projects-container-icons {
  color: #F6F1F1;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box-icon {
  margin-right: 8px;
  position: relative;
}

.btn {
  margin-bottom: 7px;
  background-color: #9DB2BF;
  position: relative;
  display: inline-block;
  padding: .5rem 1.5rem 1rem;
  border: none;
  margin-right: 5px;
  transition: all 300ms ease-out;
  color: #13005A;
  text-decoration: none;
  letter-spacing: .01rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.btn:hover {
  background-color: #F6F1F1;
  color: #13005A;
  padding: .5rem 1.8rem 1rem;
}

.btn:hover span {
  right: .8rem;
}

.btn span {
  top: 4px;
  position: relative;
  right: 0;
  transition: all 300ms ease-out;
}

.btn i {
  width: 1.8rem;
  opacity: 0;
  position: absolute;
  top: 28%;
  right: 20px;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn:hover i {
  opacity: 1;
  right: 0;
}

@media (min-width: 375px) {
  .projects-h2, .projects-h3 {
    text-align: center;
  }
}

/*-- CONTACT SECTION --*/

.contact {
  background-color: #1F2833;
  padding: 80px 0 50px 0;
}

.contact-h2 {
  font-family: "Montserrat";
  font-weight: 900;
}

.contact-h2, .contact-p {
  color: #F6F1F1;
}

.contact-form {
  margin-bottom: 50px;
}

.contact-form-field {
  margin-bottom: -10px;
}

section.contact form label,
section.contact form input,
section.contact form textarea {
  border: 2px solid rgba(66, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem .6rem .4rem;
}

section.contact form label:required,
section.contact form input:required,
section.contact form textarea:required {
  outline: none;
  box-shadow: none;
}

section.contact form label:required:invalid,
section.contact form input:required:invalid,
section.contact form textarea:required:invalid {
   box-shadow: 2px 2px #19A7CE;
}

section.contact form textarea {
  resize: none;
  height: 150px;
  background-color: #DDE6ED;
}

section.contact form input {
  background-color: #DDE6ED;
}

section.contact form label {
  pointer-events: none;
  height: 26px;
  color: #1F2833;
  transform: translateY(-67px);
  transition: color .2s ease, font-size .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, color .2s ease, font-size .2s ease;
  transition: transform .2s ease, color .2s ease, font-size .2s ease;
}

section.contact form label.message {
  transform: translateY(-156px);
}

section.contact form label .required {
  color: #f0535d;
}

section.contact form input:focus,
section.contact form textarea:focus {
  border: 2px solid #19A7CE;
}

section.contact form input:focus ~ label,
section.contact form input:valid ~ label,
section.contact form textarea:focus ~ label,
section.contact form textarea:valid ~ label {
  font-size: .7rem;
  color: #1F2833;
}

section.contact form input:focus ~ label,
section.contact form input:valid ~ label {
  transform: translateY(-70px);
}

section.contact form textarea:focus ~ label,
section.contact form textarea:valid ~ label {

  transform: translateY(-168px);
}

.feedback-message {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    background-color: #9DB2BF;
    width: 0;
    color: #13005A;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feedback-message.show {
    animation: slideInOut 6s forwards;
}

.feedback-message.show p {
    animation: fadeText 6s forwards;
}

.feedback-1 {
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

.feedback-2 {
    margin: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    opacity: 0;
}

@keyframes slideInOut {
    0% {
        width: 0;
        left: 0;
        opacity: 0;
    }
    25% {
        width: 30vw;
        left: calc(50% - 15vw);
        height: 4px;
        opacity: 1;
    }
    30% {
        width: 30vw;
        left: calc(50% - 15vw);
        height: 150px;
        padding: 10px;
        opacity: 1;
    }
    35% {
         width: 30vw;
         left: calc(50% - 15vw);
         height: 150px;
         padding: 10px;
         opacity: 1;
    }
    70% {
        width: 30vw;
        left: calc(50% - 15vw);
        height: 150px;
        padding: 10px;
        opacity: 1;
    }
    75% {
        width: 30vw;
        left: calc(50% - 15vw);
        height: 4px;
        padding: 10px;
        opacity: 1;
    }
    85% {
        width: 30vw;
        left: calc(50% - 15vw);
        opacity: 1;
    }
    100% {
        width: 0;
        left: 100%;
        opacity: 0;
    }
}

@keyframes fadeText {
     0% {
         opacity: 0;
     }
     35% {
         opacity: 0;
     }
     45% {
         opacity: 1;
     }
     70% {
         opacity: 1;
     }
     80% {
         opacity: 0;
     }
     100% {
         opacity: 0;
     }
}

@media (min-width: 320px) {
  .contact-h2, .contact-p {
    text-align: center;
  }

  .feedback-1 {
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

  .feedback-2 {
    margin: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    opacity: 0;
}

  @keyframes slideInOut {
    0% {
        width: 0;
        left: 0;
        opacity: 0;
    }
    25% {
        width: 70vw;
        left: calc(50% - 35vw);
        height: 4px;
        opacity: 1;
    }
    30% {
        width: 70vw;
        left: calc(50% - 35vw);
        height: 150px;
        padding: 10px;
        opacity: 1;
    }
    35% {
         width: 70vw;
         left: calc(50% - 35vw);
         height: 150px;
         padding: 10px;
         opacity: 1;
    }
    70% {
        width: 70vw;
        left: calc(50% - 35vw);
        height: 150px;
        padding: 10px;
        opacity: 1;
    }
    75% {
        width: 70vw;
        left: calc(50% - 35vw);
        height: 4px;
        padding: 10px;
        opacity: 1;
    }
    85% {
        width: 60vw;
        left: calc(50% - 30vw);
        opacity: 1;
    }
    100% {
        width: 0;
        left: 100%;
        opacity: 0;
    }
}
}

@media (min-width: 800px) {
  .contact-container-form {
    margin: auto;
    padding-top: 20px;
    width: 60%;
  }

  .contact-container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/*-- FOOTER SECTION --*/
footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

.p-footer {
  background-color: #DDE6ED;
  color: #0B0C10;
  text-align: center;
  padding: 25px 0 20px 0;
  margin-bottom: 0;
  font-size: small;
}

footer .fa-twitter, footer .fa-brands.fa-linkedin, footer .fa-github, footer .fa-instagram, footer .fa-solid.fa-at {
  color: #13005A;
  display: inline-block;
  font-size: 2em;
  padding-bottom: 25px;
  transition: color 300ms ease-in-out;
}

footer .fa-twitter:hover, footer .fa-brands.fa-linkedin:hover, footer .fa-github:hover, footer .fa-instagram:hover, footer .fa-solid.fa-at:hover {
  transition: color 300ms ease-out;
  color: #19A7CE;
}

.footer-contacts-div-icons {
    padding: 10px;
    background-color: #DDE6ED;
}

.footer-contacts-ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-contacts-ul a:hover {
  color: #AFD3E2;
  background-color: transparent;
}

.footer-contacts-li {
  width: 50px;
  height: 50px;
  text-align: center;
  transform: scale(1);
  transition: transform .2s ease-in-out;
}

.footer-contacts-li:hover {
  transform: scale(1.2);
}

.footer-contacts-ul {
  list-style-type: none;
  padding-left: 0px;
}