    <!-- CONTACT -->

    <section class="contact" id="contact">

      <div class="container-fluid">
        <h1 id="contact-h1" class="contact-h1">{{ data.contactH1 }}</h1>

        <div class="contact-container-content">
          <div class="contact-container-form">

            <p id="contact-p1" class="contact-p">{{ data.contactP1 }}</p>
            <p id="contact-p2"class="contact-p">{{ data.contactP2 }}</p>

            <form id="contactForm" class="contact-form" action="{{ url_for('contact') }}" method="POST" onsubmit="return false">
              <div class="contact-form-field">
                <input type="text" name="name" id="name" required="required">
                <label id="form-name" for="name">{{ data.formName }}<span class="required">*</span></label>
              </div>
              <div class="contact-form-field">
                <input type="email" name="email" id="email" required="required">
                <label for="email">Email<span class="required">*</span></label>
              </div>
              <div class="contact-form-field">
                <textarea type="textbox" name="message" id="message" required="required" ></textarea>
                <label id="form-message" for="message" class="message">{{ data.formMessage }}<span class="required">*</span></label>
              </div>
              <button class="btn" value="submit">
                <span id="btn-message">{{ data.btnMessage }}</span>
                <i class="far fa-envelope-open" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="feedback-message" id="feedbackMessage"></div>

    </section>

{% include "footer.html" %}
