<footer>
  <div class="footer" id="footer">
    <p class="p-footer">&copy <span id="year"></span>, built and designed by Ricardo Rato</p>
    <div class="footer-contacts-div-icons">
      <ul class="footer-contacts-ul">

        <!-- LINKEDIN -->
        <li class="footer-contacts-li">
          <a href="https://www.linkedin.com/in/rjrato/" target="_blank" aria-label="open link to ricardo's linkedin page."><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        </li>

        <!-- GITHUB -->
        <li class="footer-contacts-li">
          <a href="https://github.com/rjrato" target="_blank" aria-label="open link to ricardo's github page."><i class="fab fa-github" aria-hidden="true"></i></a>
        </li>

        <!-- EMAIL -->
        <li class="footer-contacts-li">
          <a href="#contact" aria-label="send an email to ricardo."><i class="fa-solid fa-at" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script type="text/javascript" src="./static/js/scripts.js"></script>

</footer>
