<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="object-src 'self' blob; frame-src 'self'">
    <title>Ricardo Rato: Full Stack Developer</title>
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/f723ff09f4.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

</head>
<body>

    <!-- HEADER -->

    <section class="header" id="nav">
      <!-- Nav menu -->
      <nav class="nav-bar">
        <input type="checkbox" id="hamburger" name="hamburger" />
        <label for="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul>
          <li><a id="nav-home" class="nav-link" href="#home" aria-label="go to home section." >Home</a></li>
          <li><a id="nav-about" class="nav-link" href="#about" aria-label="go to about section.">About</a></li>
          <li><a id="nav-skills" class="nav-link" href="#skills" aria-label="go to skills and tools section.">Skills</a></li>
          <li><a id="nav-projects" class="nav-link" href="#projects" aria-label="go to work section.">Projects</a></li>
          <li><a id="nav-contact" class="nav-link" href="#contact" aria-label="go to contact section.">Contact</a></li>
          <li><a id="lang-en" class="lang-en" href="#" language="english">EN</a></li>
          <li class="lang-sep">|</li>
          <li><a id="lang-pt" class="lang-pt" href="#" language="portuguese">PT</a></li>
        </ul>
      </nav>
    </section>

    <!-- HOMEPAGE -->

    <section class="homepage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="homepage-h1">
                        <span class="homepage-signature">Ricardo Rato</span>

                        <span id="home-title" class="homepage-title">Full Stack Developer</span>
                        <span id="home-and" class="homepage-and">and</span>
                        <span class="homepage-container-flip">
                          <span id="home-flip1" class="flip flip-learner">lifelong learner.</span>
                          <span id="home-flip2" class="flip flip-heliophile">heliophile.</span>
                          <span id="home-flip3" class="flip flip-food">love food!</span>
                          <span id="home-flip4" class="flip flip-world">world traveller.</span>
                          <span id="home-flip5" class="flip flip-superhero">superhero movies fan.</span>
                          <span id="home-flip6" class="flip flip-workout">powerlifter.</span>
                          <span id="home-flip7" class="flip flip-person">a A-Person.</span>
                        </span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="sep1-1 sep1-2"></div>
    </section>

    <!-- ABOUT -->

    <section class="about" id="about">
        <div class="container-fluid">
            <h3 id="about-h3" class="about-h3">About</h3>
            <h2 id="about-h2" class="about-h2">Who am i?</h2>

            <div class="about-contacts-div-icons">
              <ul class="about-contacts-ul">

                <!-- LINKEDIN -->
                <li>
                  <a href="https://www.linkedin.com/in/rjrato/" target="_blank" aria-label="open link to ricardo's linkedin page."><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                </li>

                <!-- GITHUB -->
                <li>
                  <a href="https://github.com/rjrato" target="_blank" aria-label="open link to ricardo's liew's github page."><i class="fab fa-github" aria-hidden="true"></i></a>
                </li>

                <!-- EMAIL -->
                <li>
                  <a href="#contact" aria-label="send an email to ricardo."><i class="fa-solid fa-at" aria-hidden="true"></i></a>
                </li>

              </ul>
            </div>
            <div class="about-content">
              <h5 class="about-h5">
                <p id="about-p1">
                  As long as i can remember, i've been a very <strong id="about-p1-strong1" class="about-strong">curious mind</strong>. When i was 7, i was repairing my console gamepads, switching broken buttons for new ones. At 15, when I bought my first desktop, soon began learning about hardware, messing with it, and learning how to get it back to work. So, as you could imagine, yes, <strong id="about-p1-strong2" class="about-strong">i'm like a Swiss knife</strong>, a <strong id="about-p1-strong3" class="about-strong">DIY guy</strong> that solves all tech related issues in my family and friends.
                </p>
                <p id="about-p2">
                  Back in 2006 i joined <strong id="about-p2-strong1" class="about-strong">Portuguese Air Force</strong>, starting an <strong id="about-p2-strong2" class="about-strong">IT Systems Administrator</strong> role and in the 2022 summer I decided to learn about coding! In between i was <strong id="about-p2-strong3" class="about-strong">police officer</strong>, and now i'm an <strong id="about-p2-strong4" class="about-strong">UEPS Agent – Member of helicopter teams</strong>, whose main mission is the first line intervention in rural firefighting.
                </p>
                <p id="about-p3">
                  My flag is that with <strong id="about-p3-strong1" class="about-strong">commitment spirit and a can-do attitude we can go everywhere</strong>. And here I am, looking for a career change, looking for great projects to develop and learn from it!
                </p>
              </h5>
            </div>

            <div class="about-cv">
              <h3 id="about-cv" class="about-resume-h3">See my resume <a id="about-cv-link" href="https://drive.google.com/file/d/1rW8QB8PEJ4qxrZ7MgiKtKQ-g_WRzWuo9/view?usp=sharing" target="_blank" aria-label="link to ricardo's resume" class="about-resume-a"><strong>here!</strong></a></h3>
            </div>
        </div>
    </section>

    <div class="sep2-1 sep2-2"></div>

    <!-- SKILLS -->

    <section class="skills" id="skills">
        <div class="container-fluid">
            <h3 id="skills-h3" class="skills-h3">Skills</h3>
            <h2 id="skills-h2" class="skills-h2">Tools i've been using, and what i've been learning!</h2>
            <div class="container-tools">
                <div class="box-tool">
                    <i class="devicon devicon-c-plain"></i>
                    <p class="skills-p">C</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-js"></i>
                    <p class="skills-p">JavaScript</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-python"></i>
                    <p class="skills-p">Python</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-html5"></i>
                    <p class="skills-p">HTML5</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-css3"></i>
                    <p class="skills-p">CSS 3</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-bootstrap"></i>
                    <p class="skills-p">BootStrap</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-mongodb-plain"></i>
                    <p class="skills-p">MongoDB</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-sqlite-plain"></i>
                    <p class="skills-p">SQL</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-flask-original"></i>
                    <p class="skills-p">Flask</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-jquery-plain"></i>
                    <p class="skills-p">JQuery</p>
                </div>
                <div class="box-tool">
                    <i class="devicon fas fa-terminal" aria-hidden="true"></i>
                    <p class="skills-p">Command Line</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-nodejs-plain" aria-hidden="true"></i>
                    <p class="skills-p">Node.JS</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-express-original" aria-hidden="true"></i>
                    <p class="skills-p">Express.JS</p>
                </div>
                <div class="box-tool">
                    <i class="devicon fa fa-cogs" aria-hidden="true"></i>
                    <p class="skills-p">RESTful APIs</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-git-plain"></i>
                    <p class="skills-p">Git</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-github-original"></i>
                    <p class="skills-p">GitHub</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-react-original"></i>
                    <p class="skills-p">React</p>
                </div>
                <div class="box-tool">
                  <i class="fa-brands fa-aws"></i>
                  <p class="skills-p">AWS</p>
                </div>
                <div class="box-tool">
                    <img class="devicon icp" src="./static/img/internet-computer.png"></img>
                    <p class="skills-p">ICP Blockchain</p>
                </div>
                <div class="box-tool">
                    <img class="devicon web3" src="./static/img/web3.png"></img>
                    <p class="skills-p">WEB3.0</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-visualstudio-plain"></i>
                    <p class="skills-p">Visual Studio</p>
                </div>
            </div>
        </div>
    </section>

    <div class="sep3-1 sep3-2"></div>

    <!-- PROJECTS -->

    <section class="projects" id="projects">
        <div class="container-fluid">
            <h3 id="projects-h3" class="projects-h3">Projects</h3>
            <h2 id="projects-h2" class="projects-h2">Some work i've done so far</h2>

            <!-- project-container -->
            <div class="projects-container">
                <div class="projects-container-img-right">
                  <img src="./static/img/write-it-v2-welcomescreen.png" alt="img description" class="projects-img">
                </div>

                <!-- project-container-text -->
                <div class="projects-container-text">
                  <h4 id="project1-h4" class="projects-h4-right"><strong>Write it!</strong></h4>
                  <p id="project1-p-right" class="projects-p-right">A simple note keeper. MERN Stack used and deployed on AWS</p>

                  <!-- project-container-icons-->
                  <div class="projects-container-icons-right">
                    <div class="box-icon">
                      <i class="devicon devicon-html5-plain" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-css3-plain" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="fab fa-js" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-react-original" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-mongodb-plain"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-nodejs-plain" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-express-original" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="fab fa-aws" aria-hidden="true"></i>
                    </div>
                  </div>
                  <!-- /project-container-icons -->

                  <!-- project-container-btns -->
                  <div class="projects-container-btns-right">
                    <a href="https://main.dtzzg67q89c7i.amplifyapp.com/" target="_blank" class="btn btn-view-work">
                      <span id="btn-project1-view">view it here</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/rjrato/Write-It-V2" target="_blank" class="btn btn-view-work">
                      <span id="btn-project1-github">github here</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                  <!-- /project-container-btns -->
                </div>
                <!-- /project-container-text -->
              </div>
              <!-- /project-container -->

              <!-- project-container -->
              <div class="projects-container">
                <div class="projects-container-img-left">
                  <img src="./static/img/simon game.png" alt="img description" class="projects-img">
                </div>

                <!-- project-container-text -->
                <div class="projects-container-text">
                  <h4 id="project2-h4" class="projects-h4-left"><strong>Simon Game</strong></h4>
                  <p id="project2-p-left" class="projects-p-left">Let's see how good is your visual memory!</p>

                  <!-- project-container-icons-->
                  <div class="projects-container-icons-left">
                    <div class="box-icon">
                      <i class="devicon devicon-html5-plain" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="devicon devicon-css3-plain" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="fab fa-js" aria-hidden="true"></i>
                    </div>
                    <div class="box-icon">
                      <i class="fab fa-aws" aria-hidden="true"></i>
                    </div>
                  </div>
                  <!-- /project-container-icons -->

                  <!-- project-container-btns -->
                  <div class="projects-container-btns-left">
                    <a href="https://main.d30vxygnwrd7hy.amplifyapp.com/" target="_blank" class="btn btn-view-work">
                      <span id="btn-project2-view">view it here</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/rjrato/Simon-Game.git" target="_blank" class="btn btn-view-work">
                      <span id="btn-project2-github">github here</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                  <!-- /project-container-btns -->
                </div>
                <!-- /project-container-text -->
              </div>
              <!-- /project-container -->

              <!-- project-container -->
            <div class="projects-container">
              <div class="projects-container-img-right">
                <img src="./static/img/ICPepe.png" alt="img description" class="projects-img">
              </div>

              <!-- project-container-text -->
              <div class="projects-container-text">
                <h4 id="project3-h4" class="projects-h4-right"><strong>ICPepe</strong></h4>
                <p id="project3-p-right" class="projects-p-right">Here you will claim ICPepe tokens, inspired on meme PEPE and Curve Finance, built on ICP Blockchain. Implementing authentication with Internet Identity.</p>

                <!-- project-container-icons-->
                <div class="projects-container-icons-right">
                  <div class="box-icon">
                    <i class="devicon devicon-html5-plain" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="devicon devicon-css3-plain" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="fab fa-js" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="devicon devicon-react-original" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <img class="fab devicon icp-project" src="./static/img/icp-projects.png"></img>
                  </div>
                </div>
                <!-- /project-container-icons -->

                <!-- project-container-btns -->
                <div class="projects-container-btns-right">

                </div>
                <!-- /project-container-btns -->
              </div>
              <!-- /project-container-text -->
            </div>
            <!-- /project-container -->

            <!-- project-container -->
            <div class="projects-container">
              <div class="projects-container-img-left">
                <img src="./static/img/artflex.png" alt="img description" class="projects-img">
              </div>

              <!-- project-container-text -->
              <div class="projects-container-text">
                <h4 id="project4-h4" class="projects-h4-left"><strong>ArtFlex</strong></h4>
                <p id="project4-p-left" class="projects-p-left">Work in progress. Building an NFT marketplace on ICP blockchain.</p>

                <!-- project-container-icons-->
                <div class="projects-container-icons-left">
                  <div class="box-icon">
                    <i class="devicon devicon-html5-plain" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="devicon devicon-css3-plain" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="fab fa-js" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <i class="devicon devicon-react-original" aria-hidden="true"></i>
                  </div>
                  <div class="box-icon">
                    <img class="fab devicon icp-project" src="./static/img/icp-projects.png"></img>
                  </div>
                </div>
                <!-- /project-container-icons -->

                <!-- project-container-btns -->
                <div class="projects-container-btns-left">

                </div>
                <!-- /project-container-btns -->
              </div>
              <!-- /project-container-text -->
            </div>
            <!-- /project-container -->

          </div>
          <!-- /container-fluid -->

    </section>

    <div class="sep4-1 sep4-2"></div>

    <!-- CONTACT -->

    <section class="contact" id="contact">

      <div class="container-fluid">
        <h2 id="contact-h2" class="contact-h2">Let's talk!</h2>

        <div class="contact-container-content">
          <div class="contact-container-form">

            <p id="contact-p1" class="contact-p">Discuss a new project, freelance inquiry or even just a coffee?</p>
            <p id="contact-p2"class="contact-p">I’d love to hear from you!</p>

            <form class="contact-form" action="https://formspree.io/f/xdovvojv" method="POST">
              <div class="contact-form-field">
                <input type="text" name="name" id="name" required="required">
                <label id="form-name" for="name">Name<span class="required">*</span></label>
              </div>
              <div class="contact-form-field">
                <input type="email" name="_replyto" id="email" required="required">
                <label for="email">Email<span class="required">*</span></label>
              </div>
              <div class="contact-form-field">
                <textarea type="textbox" name="message" id="message" required="required" ></textarea>
                <label id="form-message" for="message" class="message">Message<span class="required">*</span></label>
              </div>
              <button class="btn" value="send">
                <span id="btn-message">Send message</span>
                <i class="far fa-envelope-open" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>

      </div>
    </section>

</body>

<footer>
  <div class="footer" id="footer">
    <p class="p-footer">&copy <span id="year"></span>, built and designed by Ricardo Rato</p>
    <div class="footer-contacts-div-icons">
      <ul class="footer-contacts-ul">

        <!-- LINKEDIN -->
        <li class="footer-contacts-li">
          <a href="https://www.linkedin.com/in/rjrato/" target="_blank" aria-label="open link to ricardo's linkedin page."><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        </li>

        <!-- GITHUB -->
        <li class="footer-contacts-li">
          <a href="https://github.com/rjrato" target="_blank" aria-label="open link to ricardo's liew's github page."><i class="fab fa-github" aria-hidden="true"></i></a>
        </li>

        <!-- EMAIL -->
        <li class="footer-contacts-li">
          <a href="#contact" aria-label="send an email to ricardo."><i class="fa-solid fa-at" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- JS -->
  <script type="text/javascript" src="./static/js/scripts.js"></script>

</footer>
</html>