{% include "header.html" %}

<body>

    <!-- HEADER -->

    <section class="header" id="nav">
      <!-- Nav menu -->
      <nav class="nav-bar">
        <input type="checkbox" id="hamburger" name="hamburger" />
        <label for="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul>
          <li><a id="nav-home" class="nav-link" href="#home" aria-label="go to home section." >{{ data.navHome }}</a></li>
          <li><a id="nav-about" class="nav-link" href="#about" aria-label="go to about section.">{{ data.navAbout }}</a></li>
          <li><a id="nav-skills" class="nav-link" href="#skills" aria-label="go to skills and tools section.">{{ data.navSkills }}</a></li>
          <li><a id="nav-projects" class="nav-link" href="#projects" aria-label="go to work section.">{{ data.navProjects }}</a></li>
          <li><a id="nav-contact" class="nav-link" href="#contact" aria-label="go to contact section.">{{ data.navContact }}</a></li>
          <li><a id="lang-en" class="lang-en" href="{{ url_for('set_language', lang='en') }}" language="english">EN</a></li>
          <li class="lang-sep">|</li>
          <li><a id="lang-pt" class="lang-pt" href="{{ url_for('set_language', lang='pt') }}" language="portuguese">PT</a></li>
        </ul>
      </nav>
    </section>

    <!-- HOMEPAGE -->

    <section class="homepage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="homepage-h1">
                        <span class="homepage-signature">Ricardo Rato</span>

                        <span id="home-title" class="homepage-title">{{ data.homeTitle }}</span>
                        <span id="home-and" class="homepage-and">{{ data.homeAnd }}</span>
                        <span class="homepage-container-flip">
                          <span id="home-flip1" class="flip flip-learner">{{ data.homeFlip1 }}</span>
                          <span id="home-flip2" class="flip flip-heliophile">{{ data.homeFlip2 }}</span>
                          <span id="home-flip3" class="flip flip-food">{{ data.homeFlip3 }}</span>
                          <span id="home-flip4" class="flip flip-world">{{ data.homeFlip4 }}</span>
                          <span id="home-flip5" class="flip flip-workout">{{ data.homeFlip5 }}</span>
                          <span id="home-flip6" class="flip flip-person">{{ data.homeFlip6 }}</span>
                          <span id="home-flip7" class="flip flip-music">{{ data.homeFlip7 }}</span>
                          <span id="home-flip8" class="flip flip-mindset">{{ data.homeFlip8 }}</span>
                        </span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="sep1-1 sep1-2"></div>
    </section>

{% include "about.html" %}
