    <!-- PROJECTS -->

    <section class="projects" id="projects">
        <div class="projects-container-fluid">
            <h3 id="projects-h3" class="projects-h3">{{ data.projectsH3 }}</h3>
            <h2 id="projects-h2" class="projects-h2">{{ data.projectsH2 }}</h2>

           <section class="game-section">
            <div class="owl-carousel custom-carousel owl-theme">

              <div class="item" style="background-image: url('static/img/write-it-v2-welcomeScreen.webp');">
                <div class="item-desc">
                  <h3>{{ data.project1H3 }}</h3>
                  <p>{{ data.project1P1 }}</p>
                  <div>
                    <a href="https://write-it.app/" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsView }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/rjrato/Write-It" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="item">
                <video autoplay loop muted playsinline class="project2-background-video">
                  <source src="static/img/simon-game.mp4">
                </video>
                <div class="item-desc">
                  <h3>{{ data.project2H3 }}</h3>
                  <p>{{ data.project2P1 }}</p>
                  <div>
                    <a href="https://main.d30vxygnwrd7hy.amplifyapp.com/" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsView }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/rjrato/Simon-Game.git" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="item">
                <video autoplay loop muted playsinline class="project3-background-video">
                  <source src="static/img/pong-game.mp4">
                </video>
                <div class="item-desc">
                  <h3>{{ data.project3H3 }}</h3>
                  <p>{{ data.project3P1 }}</p>
                  <div>
                    <a href="https://github.com/rjrato/Python-Projects/tree/ca7af68377f698914d0837e36bd765bd91ccd6f1/Pong%20Game" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="item">
                <video autoplay loop muted playsinline class="project4-background-video">
                  <source src="static/img/snake-game.mp4">
                </video>
                <div class="item-desc">
                  <h3>{{ data.project4H3 }}</h3>
                  <p>{{ data.project4P1 }}</p>
                  <div>
                    <a href="https://github.com/rjrato/Python-Projects/tree/ae1a573678d65d4868d6e2b7ea8c765cd4ee408a/Snake%20Game" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="item">
                <video autoplay loop muted playsinline class="project5-background-video">
                  <source src="static/img/turtle-crossing-game.mp4">
                </video>
                <div class="item-desc">
                  <h3>{{ data.project5H3 }}</h3>
                  <p>{{ data.project5P1 }}</p>
                  <div>
                    <a href="https://github.com/rjrato/Python-Projects/tree/d20a3e274605ec97b164a1666004d2d29aa65934/Turtle%20Crossing%20Game" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="item" style="background-image: url('static/img/password-manager.webp');">
                <div class="item-desc">
                  <h3>{{ data.project6H3 }}</h3>
                  <p>{{ data.project6P1 }}</p>
                  <div>
                    <a href="https://github.com/rjrato/Python-Projects/tree/38c9abdcb45c8a1543b96498544141aef0004cbc/ShieldPass%20Vault" target="_blank" class="btn btn-view-work">
                      <span>{{ data.btnProjectsGithub }}</span>
                      <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </section>

        </div>
        <!-- /container-fluid -->

    </section>

    <div class="sep4-1 sep4-2"></div>

{% include "contact.html" %}
