<!-- SKILLS -->

    <section class="skills" id="skills">
        <div class="container-fluid">
            <h3 id="skills-h3" class="skills-h3">{{ data.skillsH3 }}</h3>
            <h2 id="skills-h2" class="skills-h2">{{ data.skillsH2 }}</h2>
            <div class="container-tools">
                <div class="box-tool">
                    <i class="devicon devicon-c-plain" aria-hidden="true"></i>
                    <p class="skills-p">C</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-js" aria-hidden="true"></i>
                    <p class="skills-p">JavaScript</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-python" aria-hidden="true"></i>
                    <p class="skills-p">Python</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-html5" aria-hidden="true"></i>
                    <p class="skills-p">HTML5</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-css3" aria-hidden="true"></i>
                    <p class="skills-p">CSS 3</p>
                </div>
                <div class="box-tool">
                    <i class="fa-brands fa-bootstrap" aria-hidden="true"></i>
                    <p class="skills-p">BootStrap</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-mongodb-plain" aria-hidden="true"></i>
                    <p class="skills-p">MongoDB</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-sqlite-plain" aria-hidden="true"></i>
                    <p class="skills-p">SQL</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-flask-original" aria-hidden="true"></i>
                    <p class="skills-p">Flask</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-jquery-plain" aria-hidden="true"></i>
                    <p class="skills-p">JQuery</p>
                </div>
                <div class="box-tool">
                    <i class="devicon fas fa-terminal" aria-hidden="true"></i>
                    <p class="skills-p">Command Line</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-nodejs-plain" aria-hidden="true"></i>
                    <p class="skills-p">Node.JS</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-express-original" aria-hidden="true"></i>
                    <p class="skills-p">Express.JS</p>
                </div>
                <div class="box-tool">
                    <i class="devicon fa fa-cogs" aria-hidden="true"></i>
                    <p class="skills-p">RESTful APIs</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-git-plain" aria-hidden="true"></i>
                    <p class="skills-p">Git</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-github-original" aria-hidden="true"></i>
                    <p class="skills-p">GitHub</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-react-original" aria-hidden="true"></i>
                    <p class="skills-p">React</p>
                </div>
                <div class="box-tool">
                  <i class="fa-brands fa-aws" aria-hidden="true"></i>
                  <p class="skills-p">AWS</p>
                </div>
                <div class="box-tool">
                    <img class="devicon icp" alt="ICP icon" src="./static/img/internet-computer.webp"></img>
                    <p class="skills-p">ICP Blockchain</p>
                </div>
                <div class="box-tool">
                    <img class="devicon web3" alt="Web3.0 icon" src="./static/img/web3.webp"></img>
                    <p class="skills-p">WEB3.0</p>
                </div>
                <div class="box-tool">
                    <i class="devicon devicon-visualstudio-plain" aria-hidden="true"></i>
                    <p class="skills-p">Visual Studio</p>
                </div>
            </div>
        </div>
    </section>

    <div class="sep3-1 sep3-2"></div>

{% include "projects.html" %}
